.banner {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    @media screen and (max-width: 375px) {
        flex-direction: column;
    }
    

    .image {
        width: 40%;
        @media screen and (max-width: 375px) {
            width: 100%;
        }

        display: flex;
        justify-content: center;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .content {

        width: 60%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        .title {
            color: #6B3CC9;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: 33px;
            /* 122.222% */
            letter-spacing: 0.4px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .button {
            margin-top: 20px;
            border-radius: 4px;
            background: #F28D35;
            color: white;
            padding: 12px 20px;
            width: 100px;
        }

    }
}